html, body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 1em;

    background-color: #ededed;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.title {
    margin:  0 0 1em;
    padding: .25rem 1rem;

    font-size: 2em;
    background: #67dee8;
}
.title--small {
    font-size: 1.5em;
}
.title--big {
    font-size: 2.5em;
}

.text {
    padding: 0 1em;
    margin-bottom: 1em;
    font-size: 1em;
}