body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 16px;

    background-color: #ededed;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.title {
    margin:  0 0 16px;

    font-size: 32px;
}
.text {
    font-size: 16px;
}